[submodule "src/WkHtmlToPdf-DotNet/runtimes"]
	path = src/WkHtmlToPdf-DotNet/runtimes
	url = https://github.com/HakanL/WkHtmlToPdf-DotNet-BIN.git
	branch = 08aad64509eb93e17d76264976e87dae23bfb362
