<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Haukcode.WkHtmlToPdfDotNet" version="1.5.85" targetFramework="net471" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net471" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.TypeExtensions" version="4.7.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net471" />
</packages>